header{
  background-color:#66F906;
  
}
.header-text{ /*Изменяем текст шапки */
  color:#000000;
  text-align: left; /* Устанавливаем текст по центру */
  font-size: 40px;
  font-family: "segoe print";
}
.poem{
  border: 2px solid  rgba(203, 224, 79, 1);
  background: rgba(0,0,0,0.5);
  margin-bottom: 25px; 
}
.butn{
  width: 100%; /* Делаем кнопку на всю длину */
}



.allAuthors{
	background-color: #06F999;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }

#Authors{
  float: left;
}
.topbutton {
width:100px;
border:2px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:10px;
position:fixed;
bottom:50px;
right:50px;
cursor:pointer;
color:#333;
font-family:verdana;
font-size:12px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#sidebar{
  width: 100px;
  height: 1000px;
  float:left;
}

body {
  background-image: url(https://i.imgur.com/XKSzCib.jpg) ;
  background-attachment: fixed;
}

.poem-title{
color:#A8E4A0;
text-align: center;
}

.poem-text{
color: white;
text-align: center;
}

#butnAuthor{
  background-color: yellow;
  width: 100%;
}

#Search{
  float: right;
}

.SideAuthors{
  float: right;
  width: 40%;

}

.Author-Img{
  
  width: 100%;
  
}
